*{
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif,"微軟正黑體";
}
body{
    background-color: #FFFDE7;
}
.load_flex{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
}
.load_flex2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 100%;
}
.load_svg{
    padding: 0;
    margin: 0px;
    width:120px;
    height:120px;
}
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: #f0be2f;
    padding: 10px;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #5C4938 !important;
    float: right;
    text-align: left;
    text-transform: uppercase;
}
.fa-bars{
    color: #5C4938;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/* banner */
#banner{
    background-color: #FFFDE7;
    padding-top: 5%;
}
.topic-title{
    font-size: 60px;
    font-weight: 900;
    margin-top: 2vh;
    color: #5C4938;
}
.gotostart{
    margin-top: 5vh;
} 
.start {
    background-color: #F48691;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px; 
    border-radius: 40px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
  }
.start:hover {
    cursor: pointer; 
    background-color: #FB7E60;
  }
#banner a, #function a{
    color:#fff;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}
/* idea */
#idea{
    padding: 5vh auto;
}
.row{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.title{
    color: #008F95;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 900;
}
.idea-img{
    padding: 20px 0;
    width: 250px;
    
}
.text-idea{
    color: #5C4938;
    width: 80%;
    margin: auto;
}
.idea{
    padding: 20px;
}
.idea h5{
    padding: 5px;
    margin-top: 25px;
    color: #FB7E60;
}
/* function */
#function{
    background-color: #FFFDE7;
    padding-bottom: 50px;
    padding-top: 50px;
}
.function h5{
    padding: 5px;
    margin-top: 25px;
    color: #FB7E60;
}
#function ul li{
    margin: 10px 0;
    color: #5C4938; 
}
#function ul {
    margin-left: 20px;
}

#function{
    background-color: #FFFDE7;
    padding-bottom: 50px;
    padding-top: 50px;
}

/* bottom */
.bottomtext{
    background-color:  #008F95;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 	85% ;
	padding-top: 20px;;
    text-align: center;
}